
<div class="p-10 flex items-center justify-center space-x-4">
<!--  <div class="rounded-lg border-2 border-dashed border-zinc-500 p-20 bg-zinc-800 shadow-xl text-white">-->
<!--    <ul>-->
<!--      <li>AI Service</li>-->
<!--      <li>Audio Service</li>-->
<!--      <li>Magic Service</li>-->
<!--    </ul>-->
<!--  </div>-->


    <h1 class="dev-header dev-h1">
      Start a new interview
    </h1>
  <p>An interview is a repository contains all project files, including the revision history. Already have a project repository elsewhere? </p>


</div>

<div class="p-20 bg-zinc-700 rounded-lg shadow-xl flex items-center justify-center space-x-4">
  <div class="rounded-lg border-2 border-dashed border-zinc-500 p-20 bg-zinc-800 shadow-xl text-white">
    tets
  </div>
  <div class="rounded-lg border-2 border-dashed border-zinc-500 p-20 bg-zinc-800 shadow-xl text-white">
    tets
  </div>
  <div class="rounded-lg border-2 border-dashed border-zinc-500 p-20 bg-zinc-800 shadow-xl text-white">
    tets
  </div>
</div>
