<dl class="grid grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-6">
  <div>
    <dt class="dev-paragraph font-bold">What are your location preferences for your next role?</dt>
    <dd class="dev-paragraph">I'm based in Salt Lake City, Utah but work remotely! I've enjoyed the flexibility working from home has given me since the pandemic started, and I'd prefer to continue working remotely in any future role.</dd>
  </div>

  <div>
    <dt class="dev-paragraph font-bold">What are you looking for in your next role?</dt>
    <dd class="dev-paragraph">I'm looking for a role that will help me continue my career path toward becoming a systems architect. I already have years of experience designing, building, and maintaining complex, large-scale systems and I want to share that knowledge with others.</dd>
  </div>

  <div>
    <dt class="dev-paragraph font-bold">Are you a US citizen?</dt>
    <dd class="dev-paragraph">I sure am!</dd>
  </div>
</dl>
