<dl class="grid grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-6">
  <div>
    <dt class="dev-paragraph font-bold">What are your location preferences for your next role?</dt>
    <dd class="dev-paragraph">I live in San Diego, California and work remotely out of an office in Newport Beach, California. Since the start of COVID, I've worked remotely, and I've enjoyed the flexibility it's provided me. For any future position, I would prefer to continue working remotely.</dd>
  </div>

  <div>
    <dt class="dev-paragraph font-bold">What are you looking for in your next role?</dt>
    <dd class="dev-paragraph">For my next role, I'm looking to continue my career path toward becoming a systems architect. I'm looking to apply my skills and years of experience in designing, building, and maintaining complex, large-scale systems. I would also love the opportunity to share my knowledge and experience with others.</dd>
  </div>

  <div>
    <dt class="dev-paragraph font-bold">Are you a US citizen?</dt>
    <dd class="dev-paragraph">I sure am!</dd>
  </div>
</dl>
