// Colors
$bg-color: rgb(237, 237, 237);
$dot-color: rgb(155, 155, 155);

// Dimensions
$dot-size: 1px;
$dot-space: 10px;

.dev-dip {
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
    background-size: $dot-space $dot-space;
}
