
<!--<div class="py-5 px-5 flex items-center">-->
<!--  <a href="https://on.sprintful.com/devongermano" class="rounded-full px-5 py-2 text-zinc-800 bg-zinc-200 hover:bg-zinc-300 ml-auto">-->
<!--    <i class="fa-solid fa-download"></i>-->
<!--  </a>-->
<!--</div>-->

    <app-portfolio-section>
      <div class="flex flex-col md:flex-row items-center md:space-x-8">
        <div class="bg-zinc-900 shadow-xl dark:bg-zinc-800 relative mb-8 md:mb-0 flex-none rounded-full h-40 w-40 md:h-44 md:w-44 flex justify-center items-center">
          <img class="h-24 md:h-24" src="assets/devon-memoji.png">
        </div>
        <div class="flex-auto">
          <div class="mb-4">
            <app-h1 class="dev-header text-center md:text-left mb-1" text="Devon Germano"></app-h1>
            <app-h3 class="dev-subheader text-center md:text-left" text="Software Engineer"></app-h3>
          </div>
          <div class="mb-12">
            <p class="text-lg dev-p-color">
              Hi! I’m Devon, a Full Stack, Senior Software Engineer at
              <a class="link-fancy" href="https://www.verb.tech/">verb.tech</a>. I’m passionate about creating performant, well-designed, user-friendly applications.
            </p>
          </div>
          <div class="flex flex-col">
            <div class="mx-auto md:mx-0 space-x-2">
              <a href="mailto:devon.m.germano@gmail.com" class="rounded-lg font-bold px-5 py-4 text-zinc-800 bg-zinc-200 hover:bg-zinc-300 dark:bg-white dark:hover:bg-zinc-100"><i class="fa-solid fa-envelope"></i></a>
              <a href="https://resume.io/r/UKpSBmN64" class="rounded-lg font-bold px-6 py-4 text-zinc-800 bg-zinc-200 hover:bg-zinc-300 dark:bg-white dark:hover:bg-zinc-100">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </app-portfolio-section>

    <app-portfolio-section>
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="Experience"></app-h1>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-experience></app-portfolio-section-experience>
      </app-portfolio-section-body>
    </app-portfolio-section>

    <app-portfolio-section class="block shadow-inner dev-dip">
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="Skills"></app-h1>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-skills></app-portfolio-section-skills>
      </app-portfolio-section-body>
    </app-portfolio-section>

    <app-portfolio-section>
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="Q&A"></app-h1>
        <app-paragraph class="mt-3 max-w-lg">Questions I get from recruiters. If you have a question that's not listed, <a href="https://on.sprintful.com/devongermano" class="link-fancy">schedule a meeting with me</a> and let's chat!</app-paragraph>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-faq></app-portfolio-section-faq>
      </app-portfolio-section-body>
    </app-portfolio-section>
<div class="py-2 px-4 text-sm text-white bg-zinc-900 font-light">Sept 2022, Devon Michael Germano</div>

<!--<app-portfolio-section class="bg-zinc-900">-->
<!--  <app-portfolio-section-header>-->
<!--    <app-h1 class="text-zinc-100 font-bold" text="Links"></app-h1>-->
<!--    <app-paragraph class="mt-3 max-w-lg">Questions I get from recruiters. If you have a question that's not listed, <a href="https://on.sprintful.com/devongermano" class="dev-link">schedule a meeting with me</a> and let's chat!</app-paragraph>-->
<!--  </app-portfolio-section-header>-->
<!--  <app-portfolio-section-body>-->
<!--    <app-portfolio-section-faq></app-portfolio-section-faq>-->
<!--  </app-portfolio-section-body>-->
<!--</app-portfolio-section>-->
