
<div class="py-5 px-5 flex items-center">
  <a href="https://on.sprintful.com/devongermano" class="rounded-full px-5 py-2 text-zinc-800 bg-zinc-200 hover:bg-zinc-300 ml-auto">
    <i class="fa-solid fa-download"></i>
  </a>
</div>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">

    <app-portfolio-section>
      <div [ngsRevealSet]="{ reset: false }" [ngsInterval]="100" [ngsSelector]="'.animate'" class="flex flex-col md:flex-row items-center md:space-x-8">
        <div class="shadow-lg bg-white dark:bg-zinc-800 animate relative mb-8 md:mb-0 flex-none rounded-full h-48 w-48 flex justify-center items-center">
          <img class="h-28" src="assets/devon-memoji.png">
        </div>
        <div class="flex-auto">
          <div class="mb-5">
            <app-h1 class="animate dev-header" text="Devon Germano"></app-h1>
            <app-h3 class="animate dev-subheader" text="Sr. Software Engineer"></app-h3>
          </div>
          <div class="mb-10">
            <app-paragraph class="animate">Full stack Lead Engineer who uses test-driven development to write efficient and user-friendly code. Highly collaborative with a unique perspective and solid problem-solving abilities. Passionate about producing engaging, cutting-edge, intuitive products. </app-paragraph>
          </div>
          <div class="flex flex-col">
            <div>
              <a href="https://on.sprintful.com/devongermano" class="button-primary">Schedule a Meeting</a>
            </div>
          </div>
        </div>
      </div>
    </app-portfolio-section>

    <app-portfolio-section>
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="8 Years of Experience"></app-h1>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-experience></app-portfolio-section-experience>
      </app-portfolio-section-body>
    </app-portfolio-section>

    <app-portfolio-section>
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="Skills"></app-h1>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-skills></app-portfolio-section-skills>
      </app-portfolio-section-body>
    </app-portfolio-section>

    <app-portfolio-section>
      <app-portfolio-section-header>
        <app-h1 class="dev-header" text="Frequently asked questions"></app-h1>
        <app-paragraph class="mt-2">Common questions I get from recruiters! Have a question that's not listed? <a [href]="emailLink" class="font-medium text-sky-500 hover:text-sky-400">Shoot me an email</a> and I'll get back to you ASAP!</app-paragraph>
      </app-portfolio-section-header>
      <app-portfolio-section-body>
        <app-portfolio-section-faq></app-portfolio-section-faq>
      </app-portfolio-section-body>
    </app-portfolio-section>
  </div>
</div>
