.test {
  border-radius: 20px;
  padding: 20px;
  display: block;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#868686 0.5px, #ececec 0.5px);
  background-size: 10px 10px;
}
